//dashboard page
.main-dashboard {
    max-width: 1200px;
    margin: 0 auto;
}

.table-filters {
    background: $white;
    @include box-shadow(0, 2px, 6px, rgba(153, 170, 190, 0.06));
    padding: 1.3rem 0rem 1rem;
    .filter-tag {
        background: #f5f6f8;
        border-radius: 20px;
        padding: 0.5rem 0.75rem;
        font-size: 12px;
        margin-right: 0.5rem;
        margin-bottom: 0.3rem;
        span {
            letter-spacing: 0px;
        }
        &:hover {
            background: darken(#f5f6f8, 2%);
            @include transition(background, 0.3s, ease-out);
        }
        a {
            background: #fff;
            border-radius: 50%;
            width: 17px;
            height: 17px;
            margin-left: 1rem;
            svg {
                width: 0.8rem;
                height: 0.8rem;
                stroke: $primary-blue;
                stroke-width: 3px;
            }
        }
    }
    .clear-filter {
        min-width: 80px;
    }
}

.list-invoice-client {
    table {
        thead {
            tr {
                th {
                    border-top: none;
                    padding: 0.75rem 2rem;
                    a {
                        font-size: 0.9rem;
                        color: $steel;
                        font-family: $Roboto-Regular;
                    }
                }
            }
        }
        tbody {
            tr {
                border-top: solid 2px #f9f9f9;
                background: $white;
                cursor: pointer;
                &:hover {
                    background-image: linear-gradient(to left, #a9a6f5, #726de6);
                    color: $white;
                    td {
                        span {
                            color: $white;
                        }
                        .is_due {
                            color: #ffbfbf;
                            span {
                                border: solid 1px #ffbfbf;
                                border-radius: 2px;
                                padding: 3px 6px;
                                font-size: 10px;
                                color: #ffbfbf;
                            }
                        }
                        .draft {
                            color: $warning;
                            span {
                                color: $warning;
                            }
                        }
                    }
                }
                td {
                    border: none;
                    vertical-align: middle;
                    padding: 1rem 2rem;
                    span {
                        color: $steel;
                    }
                    .avatar {
                        margin-right: 3rem;
                    }
                    .draft {
                        color: $warning;
                        span {
                            color: $warning;
                        }
                    }
                    .is_due {
                        color: $danger;
                        span {
                            border: solid 1px $danger;
                            border-radius: 2px;
                            padding: 3px 6px;
                            font-size: 10px;
                            color: $danger;
                        }
                    }
                }
            }
        }
    }
}

.list-invoice-bar {
    margin-top: 3rem;
    height: 4rem;
    border-bottom: solid 1px #eaeef7;
    .btn-icon {
        span {
            color: $steel;
        }
        .dripicons-scale {
            font-size: 20px;
            margin-right: 1rem;
            height: 24px;
        }
    }
}

//invoices page
.invoice-page {
    .invoice-wrapper {
        height: 100%;
        .invoice-side-bar {
            background: #fcfcfc;
            @include box-shadow(0px, 2px, 2px, rgba(149, 175, 197, 0.5));
            margin-top: -1px;
            border-top: 1px solid #f3f3f3;
            height: calc(100vh - 80px);
            overflow-y: auto;
            z-index: 50;
            &::-webkit-scrollbar {
                opacity: 0;
                width: 0;
            }
            .invoice-list {
                li {
                    border-bottom: solid 0.5px #f4f7ff;
                    .invoice-item {
                        cursor: pointer;
                        position: relative;
                        padding: 1.5rem 2.5rem;
                        @include transition(all .3s ease-out);
                        &:hover {
                            background: #f8f8ff;
                            @include transition(all .3s ease-out);
                            .delete-item {
                                opacity: 1;
                                @include transition(all .3s ease-out);
                            }
                        }
                        .delete-item {
                            position: absolute;
                            top: 10px;
                            right: 20px;
                            opacity: 0;
                            color: $pinkish-grey;
                        }

                        h4 {
                            margin-bottom: 5px;
                            font-size: 1rem;
                        }
                        p {
                            margin-bottom: 0;
                            font-size: 0.9rem;
                            color: $pinkish-grey;
                        }
                        &.seleted {
                            background-image: linear-gradient(to left, #817cef, #8783eb);
                            color: $white;
                        }
                    }
                }
            }
        }
        .invoice-page-details-wrapper {
            height: calc(100vh - 80px);
            overflow-y: auto;
            background: $white;
            .invoice-page-details {
                height: 100%;
                max-width: 860px;
                .invoice-actions {
                    .btn {
                        margin-right: 1rem;
                    }
                }
            }
        }
    }
}

//create invoice 
.invoice-container {
    margin-top: 3rem;
    width: 100%;
    min-height: 56.25rem;
    @include box-shadow(0, 0, 10px, rgba(0, 0, 0, 0.06));
    background: $white;
    border: solid 1px #eaeef7;
    border-radius: 6px;
    padding: 4rem 5.7rem;
    .invoice-header {
        margin-bottom: 3rem;
    }
    .invoice-summary {
        margin: 4rem 0;
    }
    .invoice-footer {
        padding-top: 3rem;
        .footnote {
            margin-top: 7rem;
        }
    }
}


//invoice viewer || pdf
.invoice-view-details {
    h3 {
        font-family: 'Roboto-Light';
        color: $dark-grey;
    }
    h4 {
        
        color: $steel;
        font-size: 14px;
    }
    .order-summary {
    	margin-bottom: 5rem;
        thead {
            tr {
                border-bottom: solid 1px $dark-grey;
                th {
                    border: none;
                    padding: 1.5rem .75rem;
                }
            }
        }
        tbody {
            tr {

                td {
                    border: none;
                    vertical-align: middle;
                    padding: 2rem .75rem .5rem;
                    &.svc-description{
                    	h4{
                    		line-height:1.4;
                    		max-width: 320px;
                    	}
                    }
                }
            }
            
        }
    }
}
.summary-table{
	tr{
		td{
			border:none;
		}
	}
}


.bottom-pagination {
    ul {

        li {
            a {
                border: none;
                background-color: transparent;
            }
            &:first-child,
            &:last-child {

                a {
                    background: $white;
                }
            }
        }
    }
}

//images
.authenticate-form {
    background: $white;
    form {
        width: 300px;
        margin: 0 auto 4rem;
        .form-group {
            margin-bottom: 3rem;
            label {
                margin-bottom: 0;
            }
        }
    }
}

.img-bg-full {
    width: 100%;
    height: 100vh;
    padding: 8rem;
    background: {
        image: linear-gradient(to top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/img1.jpg');
        size: cover;
        position: center;
    }
    h2 {
        color: $white;
        font-size: 3.5rem;
        font-family: "Roboto-Bold"
    }
}