{% load staticfiles %}

<script type="text/javascript" src="{% static 'frontend/app.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/routes.js' %}"></script>

<script type="text/javascript" src="{% static 'frontend/invoices/init.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/invoices/routes.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/invoices/controllers.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/invoices/services.js' %}"></script>

<script type="text/javascript" src="{% static 'frontend/users/init.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/users/routes.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/users/services.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/users/controllers.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/users/directives.js' %}"></script>

