<script type="text/template" id="invoiceTemplate">
  <div class="invoice-header d-flex justify-content-between align-items-end">
    <h3>
      Invoice
    </h3>
    <div>
      <label>Invoice number</label>
      <h3>
        Jan - 345 - 234
      </h3>
    </div>
  </div>
  <div class="invoice-create-body">
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label class="d-flex align-items-center justify-content-between">
            <span>Bill to</span>
            <a href="#">+ New Client</a>
          </label>
          <select class="selectpicker select-options" data-live-search="true" title="Select Client">
            <option data-tokens="">Super Corp.</option>
            <option data-tokens="">Google Inc.</option>
            <option data-tokens="">Mcdonalds Corp.</option>
            <option data-tokens="">Super Corp.</option>
            <option data-tokens="">Google Inc.</option>
            <option data-tokens="">Mcdonalds Corp.</option>
            <option data-tokens="">Super Corp.</option>
            <option data-tokens="">Google Inc.</option>
            <option data-tokens="">Mcdonalds Corp.</option>
            <option data-tokens="">Super Corp.</option>
            <option data-tokens="">Google Inc.</option>
            <option data-tokens="">Mcdonalds Corp.</option>
            <option data-tokens="">Super Corp.</option>
            <option data-tokens="">Google Inc.</option>
            <option data-tokens="">Mcdonalds Corp.</option>
          </select>
        </div>
      </div>
      
    </div>
    <div class="row">

      <div class="col-6">
        <div class="form-group">
          <label>Order number</label>
          <p>345 - 2324 - 232</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="form-group">
          <label> Invoice Date</label>
          <input type="" name="" id="startDate" class="startDate" placeholder="Select date ">
        </div>
      </div>
      <div class="col-4">
        <div class="form-group">
          <label>Terms</label>
          <input type="" name="" id="endDate" class="endDate" placeholder="Select term"> 
        </div>
      </div>
      <div class="col-4">
        <div class="form-group">
          <label>Due Date</label>
          <input type="" name="" id="dueDate" class="dueDate" placeholder="Select Due date"> 
        </div>
      </div>
    </div>
    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th class="desc">Item and Description</th>
            <th class="rate">Rate</th>
            <th class="qty">Qty</th>
            <th class="amt">Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="desc">
              
              <div class="input-container">
                <span>
                  <div>
                    <textarea class="form-control" placeholder="Type of an item"></textarea>
                  </div>
                </span>
              </div>
            </td>
            <td class="rate">
              <div class="input-container">
                <span>
                  <div>
                    <input type="number" name="" placeholder="$0.00" class="form-control">
                  </div>
                </span>
              </div>
            </td>
            <td class="qty">
              <div class="input-container">
                <span>
                  <div>
                    <input type="number" name="" placeholder="0" class="form-control">
                  </div>
                </span>
              </div>
            </td>
            <td class="amt">
              <div class="input-container">
                <span>
                  <div>
                    <input type="number" name="" placeholder="$0.00" class="form-control">
                  </div>
                </span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div>
        <a href="#">+ Add item</a>
      </div>
    </div>
    <div class="row md-8 invoice-summary">
      <div class="col-6 offset-6">
        <div class="">
          <div class="d-flex justify-content-between">
            <p>Subtotal</p>
            <p class="text-right strong">$ 4,507.50</p>
          </div>
          <div class="d-flex justify-content-between">
            <p>Less (discount)</p>
            <p class="text-right strong">$0.00</p>
          </div>
          
          <div class="d-flex justify-content-between">
            <h3 class="strong">Total</h3>
            <h3 class="strong">$ 4,507.50</h3>
          </div>

        </div>
      </div>
    </div>
    <hr>
    <div class="invoice-footer">
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <button class="btn btn-icon-left btn-link">
            <i data-feather="x"></i>
            Discard this document
          </button>
        </div>
        <div>
          <button class="btn btn-sm btn-primary btn-icon ">
            Send <i data-feather="arrow-right"></i>
          </button>
        </div>
      </div>
      <p class="footnote">
        * Payment will be sent to owner@company.com via paypal
      </p>
    </div>
  </div>
</script>


<script type="text/template" id="addItem">
  <td class="desc">
    <div class="input-container">
      <span>
        <div>
          <textarea class="form-control" placeholder="Type of an item"></textarea>
        </div>
      </span>
    </div>
  </td>
  <td class="rate">
    <div class="input-container">
      <span>
        <div>
          <input type="number" name="" placeholder="$0.00" class="form-control">
        </div>
      </span>
    </div>
  </td>
  <td class="qty">
    <div class="input-container">
      <span>
        <div>
          <input type="number" name="" placeholder="0" class="form-control">
        </div>
      </span>
    </div>
  </td>
  <td class="amt">
    <div class="input-container">
      <span>
        <div>
          <input type="number" name="" placeholder="$0.00" class="form-control">
        </div>
      </span>
    </div>
  </td>
</script>