<script type="text/template" id="invoiceTemplate">
  <div class="row d-flex no-gutters align-items-end justify-content-between mb-5">
    <div>
      <h3>Invoice</h3>
    </div>
    <div>
      <label>Invoice number</label>
      <h3>
        <%= invoice.code %>
      </h3>
    </div>
  </div>
  <div class="row d-flex align-items-start mb-5">
    <div class="col-8">
      <label>Bill to</label>
      <h3 class="">Super Corporation</h3>
      <p>Door #1, 3rd floor, Consuelo Bldg. J.P. Laurel Avenue, Davao City, Philippines, 8000</p>
    </div>
  </div>
  <div class="row">
    <table class="table order-summary">
      <thead>
        <tr>
          <th>fields
            Item and Description
          </th>
          <th>
            Qty
          </th>
          <th>
            Rate
          </th>
          <th class="text-right">
            Amount
          </th>
        </tr>
      </thead>
      <tbody id="items-tbody">
        <% _.each(invoice.items, function(item){ %>
        <tr class="main-tbody-row">
          <td class="svc-description">
            <h4>
              <%= item.details %>
            </h4>
          </td>
          <td>
            <h4><%= item.quantity %></h4>
          </td>
          <td>
            <h4><%= item.rate %></h4>
          </td>
          <td class="text-right">
            <h4><%= item.amount %></h4>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="mb-5">
      <label>Remarks:</label>
      <h4><%= invoice.notes %></h4>
    </div>
  </div>
  <div class="row">
    <div class="col-6 offset-6">
      <table class="table summary-table">
        <tbody>
          <tr>
            <td>
              Subtotal
            </td>
            <td>
              <%= invoice.total_amount %>
            </td>

          </tr>
          <tr>
            <td>
              Less
            </td>
            <td>
              $ 0.00
            </td>
          </tr>
          <tr>
            <td>
              <h3>Total</h3>
            </td>
            <td>
              <h3><%= invoice.total_amount %></h3>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</script>
