<div class="side-bar fixed-index-right" ng-class="{'active': ctrl.active}" id="profile-side-bar">
    <a href="#" class="side-bar-toggle">
        <img src="/static/images/svg/arrow-right.svg">
    </a>

    <div class="profile-info">
        <div class="avatar">
            <img class="avatar-lg" ng-src="{{ ctrl.UserServices.user.image }}">
        </div>
        <h3 class="text-dark">Scarlette</h3>
        <p>
            <span class="text-dark">
                Johnson
            </span>,
            <span class="designation">
                Chief Operations Officer
            </span>
        </p>
    </div>
    <div class="contact-info">
        <p class="side-bar-subtitle">PROFILE</p>
        <div>
            <label>username</label>
            <p class="text-dark">@scarlettejohnson</p>
        </div>
        <div>
            <label>e-mail</label>
            <p class="text-dark">@scarlettejohnson@gmail.com</p>
        </div>
    </div>
</div>
<!-- SIDEBAR END -->
