<div class="side-bar fixed-index-right" ng-class="{'active': ctrl.active}" id="profile-side-bar">
    <a href="#" class="side-bar-toggle" ng-click="ctrl.onProfileClose()">
        <img src="/static/images/svg/arrow-right.svg">
    </a>

    <div class="profile-info">
        <div class="avatar">
            <img class="avatar-lg" ng-src="{{ ctrl.UserService.user.image }}">
        </div>
        <div class="dropdown">
            <a class="dropdown-toggle d-flex align-items-center" id="aside-profile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <h3 class="text-dark">{{ ctrl.UserService.user.first_name }} </h3>
                <i data-feather="chevron-down" class="arrow-down"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <a href="#" class="dropdown-item" ng-click="ctrl.editProfile()">Edit</a>
                <a href="#" class="dropdown-item">Change Password</a>
            </div>
        </div>
        <p>
            <span class="text-dark">
                {{ ctrl.UserService.user.last_name }}
            </span>,
            <span class="designation">

            </span>
        </p>
    </div>

    <form name="updateProfileForm" ng-submit="updateProfileForm.$valid && ctrl.saveUser()" ng-hide="!ctrl.enableEdit" novalidate>

        <div class="form-group" ng-class="{ 'has-error' : updateProfileForm.first_name.$invalid && !updateProfileForm.first_name.$pristine }">
            <label for="first_name">First Name:</label>
            <input type="text" name="first_name" id="first_name" class="form-control" ng-model="ctrl.UserService.user.first_name" required>
            <p ng-show="updateProfileForm.first_name.$invalid && !updateProfileForm.first_name.$pristine" class="help-block">Your first name is required.</p>
        </div> <!-- end of first_name form-group -->

        <div class="form-group" ng-class="{ 'has-error' : updateProfileForm.last_name.$invalid && !updateProfileForm.last_name.$pristine }">
            <label for="last_name">Last Name:</label>
            <input type="text" name="last_name" id="last_name" class="form-control" ng-model="ctrl.UserService.user.last_name" required>
            <p ng-show="updateProfileForm.last_name.$invalid && !updateProfileForm.last_name.$pristine" class="help-block">Your last name is required.</p>
        </div> <!-- end of last_name form-group -->

        <div class="form-group" ng-class="{ 'has-error' : updateProfileForm.email.$invalid && !updateProfileForm.email.$pristine && submitted }">
            <label for="first_name">Email:</label>
            <input type="email" name="email" id="email" class="form-control" ng-model="ctrl.UserService.user.email" required>
            <p ng-show="updateProfileForm.email.$invalid && !updateProfileForm.email.$pristine" class="help-block">Enter a valid email.</p>
        </div> <!-- end of email form-group -->

        <div class="float-sm-right">
            <button type="submit" class="btn btn-success">Save</button>
        </div>
    </form>

    <div class="contact-info" ng-hide="ctrl.enableEdit">
        <p class="side-bar-subtitle">PROFILE</p>
        <div>
            <label>first_name</label>
            <p class="text-dark">{{ ctrl.UserService.user.first_name }}</p>
        </div>
        <div>
            <label>e-mail</label>
            <p class="text-dark">{{ ctrl.UserService.user.email }}</p>
        </div>
    </div>
</div>
<!-- SIDEBAR END -->
