<div class="main-content">
  <div class="invoice-page h-100 no-gutters">
    <div class="row no-gutters invoice-wrapper justify-content-center h-100">
      <div class="col-3 invoice-side-bar ">
        <h4 class="side-bar-subtitle">Invoices</h4>
        <ul class="invoice-list list-unstyled">
          <li ng-repeat="inv in ctrl.invoiceService.list">
            <a ui-sref="invoiceDetail({id: inv.id})">
              <div class="invoice-item">
                <div class="delete-item"><i data-feather="x"></i></div>
                
                <div class="d-flex justify-content-between">
                  <h4 class="strong">{{ inv.customer.company }}</h4>
                  <h4 class="strong">${{ inv.total_amount }}</h4>
                </div>
                
                <div class="d-flex justify-content-between">
                  <p>{{ inv.order_id }}</p>
                  <p> {{ inv.invoice_date }} | <strong>{{ inv.status }}</strong></p>
                </div>
              
              </div>
            
            </a>
          </li>

        </ul>
    </div>
    <div class="col-9 invoice-page-details-wrapper">
      <div class="mx-auto invoice-page-details">
          <div class="container">
            <div class="main-content-header d-flex align-items-center justify-content-between">
              <div >
                <h3>New invoice</h3>
                <div class="invoice-actions d-flex ">
                  <button class="btn btn-icon-left btn-link">
                    <i data-feather="check-circle"></i>
                      Saved as draft
                  </button>
                  <button class="btn btn-icon-left btn-link">
                    <i data-feather="maximize-2"></i>
                      Preview
                  </button>
                  <button class="btn btn-icon-left btn-link">
                    <i data-feather="x"></i>
                      Discard this document
                  </button>
                </div>
              </div>
              <button class="btn btn-sm btn-primary btn-icon ">
                  Send <i data-feather="arrow-right"></i>
              </button>
            </div>
              <hr>
              <invoice-detail></invoice-detail>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>