<div class="main-content">
  <div class="invoice-page h-100 no-gutters">
    <div class="row no-gutters invoice-wrapper justify-content-center h-100">
      <div class="col-3 invoice-side-bar ">
        <h4 class="side-bar-subtitle">Invoices</h4>
        <ul class="invoice-list list-unstyled">
          <li ng-repeat="inv in ctrl.invoiceService.list">
            <a ui-sref="invoiceDetail({id: inv.id})">
              <div class="invoice-item">
                <div class="delete-item"><i data-feather="x"></i></div>
                
                <div class="d-flex justify-content-between">
                  <h4 class="strong">{{ inv.customer.company }}</h4>
                  <h4 class="strong">${{ inv.total_amount }}</h4>
                </div>
                
                <div class="d-flex justify-content-between">
                  <p>{{ inv.order_id }}</p>
                  <p> {{ inv.invoice_date }} | <strong>{{ inv.status }}</strong></p>
                </div>
              
              </div>
            
            </a>
          </li>

        </ul>
    </div>
    <div class="col-9 invoice-page-details-wrapper">
      <div class="mx-auto invoice-page-details">
          <div class="container">
            <div class="main-content-header d-flex align-items-center justify-content-between">
              <div >
                <h3>New invoice</h3>
                <div class="invoice-actions d-flex ">
                  <button class="btn btn-icon-left btn-link">
                    <i data-feather="check-circle"></i>
                      Saved as draft
                  </button>
                  <button class="btn btn-icon-left btn-link">
                    <i data-feather="maximize-2"></i>
                      Preview
                  </button>
                  <button class="btn btn-icon-left btn-link">
                    <i data-feather="x"></i>
                      Discard this document
                  </button>
                </div>
              </div>
              <button class="btn btn-sm btn-primary btn-icon ">
                  Send <i data-feather="arrow-right"></i>
              </button>
            </div>
              <hr>
                <div class="invoice-container">
                  <div class="invoice-header d-flex justify-content-between align-items-end">
                    <h3>
                        Invoice
                    </h3>
                    <div>
                        <label>Invoice number</label>
                        <h3>
                            {{ ctrl.invoice.code }}
                        </h3>
                    </div>
                  </div>
                  <div class="invoice-create-body">
                      <div class="row">
                        <div class="col-12">
                          <div class="form-group">
                            <label class="d-flex align-items-center justify-content-between">
                              <span>Bill to</span>
                              <a href="#">+ New Client</a>
                            </label>
                            <select class="select-options" data-live-search="true" title="Select Client" ng-model="ctrl.invoice.customer_detail.company">
                                <option ng-repeat="customer in ctrl.invoice.customers">{{ customer.company }}</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-6">
                          <div class="form-group">
                            <label>Order number</label>
                            <p>{{ ctrl.invoice.order_id }}</p>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-4">
                          <div class="form-group">
                            <label> Invoice Date</label>
                            <input type="date" name="" id="startDate" class="" placeholder="Select date" ng-model="ctrl.invoice.invoice_date">
                          </div>
                        </div>
                        <div class="col-4">
                          <div class="form-group">
                            <label>Terms</label>
                            <select class="select-options" data-live-search="true" title="Select Client" ng-model="ctrl.invoice.terms">
                                <option ng-repeat="term in ctrl.invoiceService.terms" value="{{term[0]}}">{{term[1]}}</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-4">
                          <div class="form-group">
                            <label>Due Date</label>
                            <input type="date" name="" id="endDate" class="" placeholder="Select Due date" ng-model="ctrl.invoice.due_date"> 
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <table class="table">
                          <thead>
                            <tr>
                              <th class="desc">Item and Description</th>
                              <th class="rate">Rate</th>
                              <th class="qty">Qty</th>
                              <th class="amt">Amount</th>
                            </tr>
                          </thead>
                            <tbody>
                              <tr ng-repeat="item in ctrl.invoice.items">
                                <td class="desc">
                                  <div class="input-container">
                                    <span>
                                      <div>
                                        <textarea class="form-control" placeholder="Type of an item">{{ item.details }}</textarea>
                                      </div>
                                    </span>
                                  </div>
                                </td>
                                <td class="rate">
                                  <div class="input-container">
                                    <span>
                                      <div>
                                        <input type="number" name="" placeholder="$0.00" class="form-control" value="{{ item.rate }}">
                                      </div>
                                    </span>
                                  </div>
                                </td>
                                <td class="qty">
                                  <div class="input-container">
                                    <span>
                                      <div>
                                        <input type="number" name="" placeholder="0" class="form-control" value="{{ item.quantity }}">
                                      </div>
                                    </span>
                                  </div>
                                </td>
                                <td class="amt">
                                  <div class="input-container">
                                    <span>
                                      <div>
                                        <input type="number" name="" placeholder="$0.00" class="form-control" value="{{ item.amount }}">
                                      </div>
                                    </span>
                                  </div>
                                </td>
                              </tr>
                            </tbody>
                        </table>
                        <div>
                          <a href="#">+ Add item</a>
                        </div>
                      </div>
                      <div class="row md-8 invoice-summary">
                        <div class="col-6 offset-6">
                          <div class="">
                            <div class="d-flex justify-content-between">
                              <p>Subtotal</p>
                              <p class="text-right strong">${{ctrl.invoice.total_amount}}</p>
                            </div>
                            <div class="d-flex justify-content-between">
                              <p>Less (discount)</p>
                              <p class="text-right strong">$0.00</p>
                            </div>
                            <div class="d-flex justify-content-between">
                              <h3 class="strong">Total</h3>
                              <h3 class="strong">${{ctrl.invoice.total_amount}}</h3>
                            </div>
                          </div>
                        </div>
                      </div>
                      <hr>
                      <div class="invoice-footer">
                        <div class="d-flex justify-content-between align-items-center">
                          <div>
                            <button class="btn btn-icon-left btn-link">
                                <i data-feather="x"></i>
                                Discard this document
                            </button>
                          </div>
                          <div>
                            <button class="btn btn-sm btn-primary btn-icon ">
                                Send <i data-feather="arrow-right"></i>
                            </button>
                          </div>
                        </div>
                        <p class="footnote">
                          * Payment will be sent to {{ctrl.invoice.customer_detail.email}} via paypal
                        </p>
                      </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>