{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Portal | Swiftkind</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <base href="/">
</head>
<body>
    <ui-view></ui-view>
    <script type="text/javascript" src="{% static 'scripts/portal/dist/inline.bundle.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/portal/dist/polyfills.bundle.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/portal/dist/styles.bundle.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/portal/dist/vendor.bundle.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/portal/dist/main.bundle.js' %}"></script>
</body>
</html>
