{% extends 'base.html' %}

{% block content %}
<!-- MAIN START -->
<div class="main-content">
  <div class="container-fluid">
    <div class="main-dashboard">
      <div class="main-content-header">
        <h3>My invoices</h3>
        <p>
          {{ invoices.count }} invoices total with
          {{ due_dates }} on due and
          {{ drafts }} drafts
        </p>
      </div>
      <div class="list-invoice-client table-responsive">
        <table class="table table-hover">
        {% if user.is_authenticated %}
          <thead>
            <tr>
              <th>
                  Invoice number
              </th>
              <th>
                  Due date
              </th>
              <th>
                  Payment Status
              </th>
              <th>
                  Amount
              </th>
            </tr>
          </thead>
          <tbody>
            {% for invoice in invoices %}
              <tr>
                <td>
                  <span>{{ invoice.code }}</span>
                </td>
                <td>
                  {% if invoice.is_due %}
                    <span class="is_due">
                      {{ invoice.due_date|date:"F d, Y" }}
                      &nbsp;
                      <span>Due</span>
                    </span>
                  {% else %}
                    <span>
                      {{ invoice.due_date|date:"F d, Y" }}
                    </span>
                  {% endif %}
                </td>
                <td>
                  <span>{{ invoice.status|title }}</span>
                </td>
                <td>
                  <span>${{ invoice.total_amount }}</span>
                </td>
              </tr>
            {% empty %}
              <tr>
                <td>
                <span>No invoice yet.</span>
                </td>
              </tr>
            {% endfor %}
          </tbody>
          {% endif %}
        </table>
      </div>
    </div>
  </div>
</div>
<!-- MAIN END -->
{% endblock %}
