{% extends 'base.html' %}

{% block content %}
<!-- MAIN START -->
<div class="main-content">
  <div class="container-fluid">
    <div class="main-dashboard">
      <div class="main-content-header">
        <h3>My invoices</h3>
        <p>
          {{ invoices.count }} invoices total with
          {{ due_dates }} on due and
          {{ drafts }} drafts
        </p>
      </div>
      <div class="list-invoice-client table-responsive">
        <table class="table table-hover">
        {% if user.is_authenticated %}
          <thead>
            <tr>
              <th>
                  Client
              </th>
              <th>
                  Invoice number
              </th>
              <th>
                  Due date
              </th>
              <th>
                  Payment Status
              </th>
              <th>
                  Amount
              </th>
            </tr>
          </thead>
          <tbody>
            {% for invoice in invoices %}
              <tr>
                <td>
                  <span>
                    <img class="rounded-circle" src="{{ user.get_profile_pic }}" height="30" width="30" />
                  </span>
                </td>
                <td>
                  <span>{{ invoice.code }}</span>
                </td>
                <td>
                  {% if invoice.is_due %}
                    <span class="is_due">
                      {{ invoice.due_date|date:"F d, Y" }}
                      &nbsp;
                      <span>Due</span>
                    </span>
                  {% else %}
                    <span>
                      {{ invoice.due_date|date:"F d, Y" }}
                    </span>
                  {% endif %}
                </td>
                <td>
                  <span>{{ invoice.status|title }}</span>
                </td>
                <td>
                  <span>${{ invoice.total_amount }}</span>
                </td>
              </tr>
            {% empty %}
              <tr>
                <td>
                <span>No invoice yet.</span>
                </td>
              </tr>
            {% endfor %}
          </tbody>
          {% endif %}
        </table>
      </div>
    </div>
  </div>
</div>
<!-- MAIN END -->
{% endblock %}
{% block profile %}
<div class="side-bar fixed-index-right active" id="profile-side-bar">
    <a href="#" class="side-bar-toggle">
      <img src="assets/images/svg/arrow-right.svg">
    </a>

    <div class="profile-info">
      <div class="avatar">
        <div class="avatar-lg" style="background-image: url('assets/images/avatar.jpg');">
        </div>
      </div>
      <h3 class="text-dark">Scarlette</h3>
      <p>
        <span class="text-dark">
          Johnson
        </span>,
        <span class="designation">
          Chief Operations Officer
        </span>
      </p>
    </div>
    <div class="contact-info">
      <p class="side-bar-subtitle">PROFILE</p>
      <div>
        <label>username</label>
        <p class="text-dark">@scarlettejohnson</p>
      </div>
      <div>
        <label>e-mail</label>
        <p class="text-dark">@scarlettejohnson@gmail.com</p>
      </div>
    </div>
</div>
{% endblock %}
