<script type="text/template" id="dashboardTemplate">

  <div class="list-invoice-client table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th id="invoice-number">
            <a class="d-flex align-items-center" >
              Invoice number
              <svg xmlns="http://www.w3.org/2000/svg" 
                   width="24" 
                   height="24" 
                   viewBox="0 0 24 24" 
                   fill="none" 
                   stroke="currentColor" 
                   stroke-width="2" 
                   stroke-linecap="round" 
                   stroke-linejoin="round" 
                   class="feather feather-chevron-down">
                    <polyline points="6 9 12 15 18 9"></polyline>
              </svg>
            </a>
          </th>
          <th id="due-date">
            <a class="d-flex align-items-center">
              Due date
              <svg xmlns="http://www.w3.org/2000/svg" 
                   width="24" 
                   height="24" 
                   viewBox="0 0 24 24" 
                   fill="none" 
                   stroke="currentColor" 
                   stroke-width="2" 
                   stroke-linecap="round" 
                   stroke-linejoin="round" 
                   class="feather feather-chevron-down">
                    <polyline points="6 9 12 15 18 9"></polyline>
              </svg>
            </a>
          </th>
          <th id="payment-status">
            <a class="d-flex align-items-center">
              Payment Status
              <svg xmlns="http://www.w3.org/2000/svg" 
                   width="24" 
                   height="24" 
                   viewBox="0 0 24 24" 
                   fill="none" 
                   stroke="currentColor" 
                   stroke-width="2" 
                   stroke-linecap="round" 
                   stroke-linejoin="round" 
                   class="feather feather-chevron-down">
                    <polyline points="6 9 12 15 18 9"></polyline>
              </svg>
            </a>
          </th>
          <th id="amount">
            <a class="d-flex align-items-center">
              Amount
              <svg xmlns="http://www.w3.org/2000/svg" 
                   width="24" 
                   height="24" 
                   viewBox="0 0 24 24" 
                   fill="none" 
                   stroke="currentColor" 
                   stroke-width="2" 
                   stroke-linecap="round" 
                   stroke-linejoin="round" 
                   class="feather feather-chevron-down">
                    <polyline points="6 9 12 15 18 9"></polyline>
              </svg>
            </a>
          </th>
        </tr>
      </thead>
      <tbody>
          <% _.each(invoices, function(invoice){ %>
          <tr>
            <td>
              <span> <%= invoice.code %></span>
            </td>
            <td>
                <span>
                  <%= invoice.due_date %>
                </span>
            </td>
            <td>
              <span>
                <%= invoice.status %>
              </span>
            </td>
            <td>
              <span>$
                <%= invoice.total_amount %>
              </span>
            </td>
          </tr>
          <% }); %>
      </tbody>
    </table>
  </div>
</script>
